:root {
  --primary-color: rgba(57, 13, 139, 0.5);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.98);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  line-height: 1.4;
  /* max-width: 1100px; */
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#showcase {
  background: var(--primary-color);
  color: #fff;
  height: 70vh;
  position: relative;
}

#showcase:before {
  content: '';
  background: url(../img/DSC_5200.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  /* left: 100%; */
  height: 100%;
  width: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0;
}

#showcase h1 {
  font-size: 4rem;
  /* transition: all;
  transform: translateX(-220px); */
}

#showcase p {
  font-size: 1.8rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--secondary-color);
  color: white;
  padding: 0.75rem 1.5rem;
  width: 130px;
  border-radius: 10px;
  margin-top: 1rem;
  transition: all 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* Skills */
#about {
  background: var(--secondary-color);
  color: #fff;
  height: 30vh;
  position: relative;
}

#about skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
/* Icons */
.icons {
  padding: 50px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* > div applies to direct div applicable to flex-items */
.flex-items > div {
  width: 300px;
  padding: 0px;
}